@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.game-piece-top-left {
  border-top-left-radius: 400px 400px;
}
.game-piece-top-right {
  border-top-right-radius: 400px 400px;
}
.game-piece-bottom-left {
  border-bottom-left-radius: 400px 400px;
}
.game-piece-bottom-right {
  border-bottom-right-radius: 400px 400px;
}
